.startGame {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.startGame h1 {
  color: #ccc;
  font-size: 6rem;
  margin-bottom: 3rem;
}

.startGame p {
  color: #6bc38b;
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

.startGame button {
  background-color: #6bc38b;
  border: none;
  padding: 2rem 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 6rem;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
}

.startGame button:hover {
  background-color: #4ddf82;
}